.MuiMobileStepper-dot MuiMobileStepper-dotActive css-26w9jf-MuiMobileStepper-dot{
    background-color: #FF2525;
}

.css-rh92k-MuiPaper-root-MuiMobileStepper-root{
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MuiMobileStepper-dots, .css-1384nzf-MuiMobileStepper-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}