@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600;700&display=swap");

.delivery-block {
  align-items: center;
  text-align: center;
}

.delivery-block-title {
  //   width: 709px;
  height: 71px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 71px;
  color: #252525;
}

.delivery-block-text {
  //   width: 997px;
  height: 44px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #252525;
}

.delivery-block-subtitle {
  //   width: 265px;
  height: 27px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  color: #252525;
}
