@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600;700&display=swap");
.drink-wrap {
  background: linear-gradient(149.91deg, #ffffff 54.61%, #a8e2ff 100%);
  padding-top: 82px;
}
.drink-title-block {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.drink-name-title {
  width: 138px;
  height: 54px;
  color: #ff2525;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
}
.drink-card-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 20px 45px;
  margin: 0px 120px;
  //   margin-bottom: 80px;
}
.drink-card {
  width: 370px;
  height: 507px;
  background: #ffffff;
  box-shadow: 4px 4px 11px rgba(82, 82, 82, 0.25);
  border-radius: 20px;
}
.drink-star-hit {
  padding: 18px 21px 0px 281px;
}
.drink-img-block {
  padding: 0px 42px 0px 39px;
}
.drink-img {
  position: relative;
  bottom: 60px;
}
.drink-content-block {
  margin-left: 32px;
  position: relative;
  bottom: 25px;
}

.drink-title {
  width: 300px;
  height: 66px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 33px;
  color: #252525;
  margin: 0px;
  position: relative;
  bottom: 30px;
}

.drink-quantity {
  width: 71px;
  height: 20px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #252525;
  position: relative;
  bottom: 50px;
}
.drink-quantity1 {
  width: 71px;
  height: 20px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #252525;
}

.cost-and-button {
  // padding-top: 31px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 10px;
  position: relative;
  bottom: 30px;
}
.drink-cost {
  width: 170px;
  height: 29px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
  color: #252525;
  text-align: start;
}
.drink-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 20px;
  width: 198px;
  height: 56px;
  background: #0166e8;
  border-radius: 10px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  color: #ffffff;
  border: none;
}
