.MuiSpeedDial-root MuiSpeedDial-directionUp css-d5qmmo-MuiSpeedDial-root{
     background-color: rgb(251, 196, 255);
}

.css-1c4hl6u {
    // border: 1px solid #000;
}

.MuiButtonBase-root, .MuiFab-root, .MuiFab-circular, .MuiFab-sizeLarge, .MuiFab-primary .MuiFab-root, .MuiFab-circular, .MuiFab-sizeLarge, .MuiFab-primary, .MuiSpeedDial-fab, .css-118zhtq-MuiButtonBase-root-MuiFab-root-MuiSpeedDial-fab{
    border: 1px solid #000;
}

svg{
    display: block;
    color: #000;
}


